.navigation-key {
    margin: 10px;
    border-radius: 10%;
    padding-right: 10px;
    width: auto;
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
    color: white;
}

.white-icon {
    color: white;
}



.mat-toolbar{
    background-color: #584360;
}

.user-mat-button {
    border-radius: 0 !important;
    width: auto !important;
    height: auto !important;
}